doctype html

html
  head
    title دا د صفحه ی عنوان ده
    meta(charset="UTF-8")
    link(rel="stylesheet" href="/stylesheets/application.css")

  body
    header
      h1 !سلام نړۍ
    main
      p !زه به ډیر ژر یوه سافټویر انجینیره شم
      img(src="/images/earth.jpg" alt="نړۍ" title="نړۍ")