doctype html

html
  head
    title Ceci est le titre de la page
    meta(charset="UTF-8")
    link(rel="stylesheet" href="/stylesheets/application.css")

  body
    header
      h1 Bonjour le monde!
    main
      p Je vais bientôt être un ingénieur logiciel!
      img(src="/images/earth.jpg" alt="La planète Terre" title="La planète Terre")