extends layout

block page_title
  title こんにちは世界 - 日本語

block greeting
  h1 こんにちは世界!

block software_engineer
  p 私はすぐにソフトウェアエンジニアになります！
  img(src="/images/earth.jpg"
      alt="地球"
      title="地球")
