doctype html

html
  head
    title  این عنوان صفحه است
    meta(charset="UTF-8")
    link(rel="stylesheet" href="/stylesheets/application.css")

  body
    header
      h1 !سلام جهان
    main
      p !به زودی قرار است یک انجینیر نرم افزار شوم
      img(src="/images/earth.jpg" alt="زمین" title="زمین")