doctype html

html
  head
    title Ово је наслов странице
    meta(charset="UTF-8")
    link(rel="stylesheet" href="/stylesheets/application.css")

  body
    header
      h1 Здраво свете!
    main
      p Ускоро ћу бити софтверски инжењер!
      img(src="/images/earth.jpg" alt="Планета Земља" title="Планета Земља")