extends layout

block page_title
  title سلام نړۍ - پښتو

block greeting
  h1 سلام نړۍ!

block software_engineer
  p زه به ژر یو سافټویر انجنیره شم!
  img(src="/images/earth.jpg"
      alt="ځمکه"
      title="ځمکه")