extends layout

block page_title
  title سلام جهان - دری

block greeting
  h1 سلام جهان!

block software_engineer
  p من به زودی یک انجنیر نرم افزار خواهم شد!
  img(src="/images/earth.jpg"
      alt="کره زمین"
      title="کره زمین")